<configuration>
  <module class="at.uibk.dps.ee.control.modules.EnactmentVerticleModule">
    <property name="pauseOnStart">false</property>
    <property name="deploymentNumber">8</property>
  </module>
  <module class="at.uibk.dps.ee.docker.modules.ContainersModule">
    <property name="dockerManager">DockerApi</property>
    <property name="usedOs">Windows</property>
  </module>
  <module class="edge.discovery.modules.LNResourcesModule">
  </module>
  <module class="at.uibk.dps.ee.io.modules.InputReaderFileModule">
    <property name="filePath">./src/main/resources/input.json</property>
  </module>
  <module class="at.uibk.dps.ee.io.modules.LoggingModule">
    <property name="pathToConfigFile">./src/main/resources/logback.xml</property>
  </module>
  <module class="at.uibk.dps.ee.io.modules.OutputPrinterModule"/>
  <module class="at.uibk.dps.ee.io.modules.SpecificationInputModule">
    <property name="filePathAfcl">./src/main/resources/afcl.yaml</property>
    <property name="filePathMappingFile">./src/main/resources/mappings.json</property>
  </module>
  <module class="rpi.serverless.scheduler.EdgeSchedulerModule">
    <property name="schedulingMode">Random</property>
    <property name="mappingsToPick">2</property>
    <property name="sizeThresholdKb">10</property>
  </module>
</configuration>
